.title-bar
  %h1
    = link_to 'Корзина', cart_path
    = '—'
    Заказ успешно оформлен


%p
  В ближайшее время с вами свяжется наш менеджер
  и оформит доставку на следующий день.

%br

= link_to 'Вернуться на главную страницу', root_path
