#banner
  .wrapper
    .offer
      Montale со скидкой 30% до
      %span.red 19 августа

    .about
      Оставьте заявку, чтобы получить скидку 30% на всю линию ароматов Montale

    .top-form
      %input{type: :text, name: 'username', placeholder: 'Введите ваше имя'}
      %input{type: :text, name: 'phone', placeholder: 'Введите ваш номер телефона'}
      .button#order-button
        Получить скидку 30%


#catalog{name: 'catalog'}
  .catalog-header
    Ароматы Montale


  .wrapper
    .catalog-filter
      Выберите семейство ароматов:

      %ul.families
        %li
          - if params[:family_id]
            - class_value = ''
          - else
            - class_value = 'selected'
          = link_to 'Все', root_path(anchor: 'catalog'), class: class_value
        - Family.order(:id).each do |family|
          %li
            - if params[:family_id]
              - if params[:family_id] == family.id.to_s
                - class_value = 'selected'
              - else
                - class_value = ''
            - else
              - class_value = ''
            = link_to family.name, root_path(family_id: family.id, anchor: 'catalog'), class: class_value

    .items
      -  @items.each do |item|
        .item
          .image
            %a{href: item_path(item.id)}
              = image_tag item.image_url(:thumb)
          .info
            %a.name{href: item_path(item.id)}
              = item.original_name
            .sex
              Унисекс
            .price
              от
              %span.pink 1250
              рублей
